body,
html {
    padding: 0;
    margin: 0;
    background-color: rgb(35, 19, 74);
    color: #fff;
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: normal;
}

h1 {
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    text-transform: uppercase;
}

h2 {
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    margin: 0 0 20px;
}

h3 {
    font-weight: normal;
    font-size: 29px;
    line-height: 35px;
    margin: 0;
}

h3.header_margin-bottom {
    margin-bottom: 70px;
}

h2.header_margin-bottom {
    margin-bottom: 24px;
}

.entertainment {
    width: 100%;
    height: 400px;
    background-color: #000;
}

.page-header {
    display: flex;
    justify-content: space-between;
    padding: 24px 0 48px;
}

.page-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.page-footer {
    padding: 24px 0;
}


/* sections */

.section {
    display: flex;
    padding: 24px 0;
    width: 100%;
    box-sizing: border-box;
}

.section_gallery {
    flex-direction: column;
}

.section_black {
    background: rgb(255, 255, 255);
    background: linear-gradient(0, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 51%, rgba(0, 0, 0, 1) 70%, rgba(255, 255, 255, 0) 100%);
    padding-bottom: 300px;
    margin-bottom: -300px;
}

.section_rows {
    flex-direction: column;
}

.section_margin-top {
    margin-top: 100px;
}


/* gallery */

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-auto-flow: dense;
    grid-auto-rows: 540px;
    padding: 36px 0;
}

.gallery-card {
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.gallery-card:hover .image-card {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
}

.card__image {
    display: flex;
    justify-content: center;
    height: calc(100% - 40px);
}

.card__title {
    text-align: center;
}

.image-card {
    height: 100%;
    transition: all .2s ease-out;
}


/* informer */

.informer {
    display: flex;
}

.informer__column {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
}

.informer__column_right {
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 24px;
}

.informer__column_left {
    flex-direction: row;
    justify-content: flex-start;
}

.informer__column_top {
    justify-content: flex-start;
}

.informer__container {
    display: flex;
    flex-direction: column;
}

.informer__image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    height: 310px;
    width: 486px;
}

.reserve-card {
    background-image: url(../images/reserve_card.png);
}

.reserve-history-card {
    background-image: url(../images/reserve_history.png);
}

.hand-card {
    background-image: url(../images/hand.png);
}

.mountain-card {
    background-image: url(../images/mountain.png);
}

.reserve-map-card {
    background-image: url(../images/reserve_map.png);
}

.reserve-big-map {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 50%;
    width: 100%;
    background-image: url(../images/big-map.png);
}


/* button */

.button {
    display: inline-block;
    text-transform: lowercase;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    padding: 16px 40px;
    font-size: 24px;
    background-color: transparent;
    color: #fff;
    outline: none;
    transition: transform .2s ease-out;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.05);
}

.button:active {
    transform: scale(.95);
}

.button-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}


/* name */

.header__name {
    display: flex;
    align-items: center;
    padding: 6px 12px;
}

.name {
    margin: 0;
    padding: 0;
}


/* menu */

.page-menu {
    display: flex;
    align-items: center;
    padding-left: 12px;
}

.main-menu {
    position: relative;
}

.main-menu_phone {
    display: none;
}

.main-menu_large .main-menu__list {
    align-items: center;
}

.main-menu__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-menu__item {
    margin: 0;
    padding: 6px 12px;
    font-size: 26px;
    line-height: 32px;
    transition: transform .2s ease-out, text-shadow .2s ease-out;
}

.main-menu__item:hover {
    transform: scale(.95);
    text-shadow: 0 0 5px rgba(0, 0, 0, 1), 0 0 10px rgba(255, 100, 100, 1);
}

.main-menu__item_active {
    font-weight: bold;
}

.main-menu__link {
    text-decoration: none;
    color: #fff;
}


/* footer */

.page-footer {
    margin-bottom: 40px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 56px;
}

.logo {
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 140px;
    width: 130px;
}

.footer__contacts {
    width: 50%;
}

.contacts {
    display: flex;
    flex-direction: column;
}

.contacts__row {
    display: flex;
    justify-content: space-between;
}

.contacts__title {
    text-align: left;
    padding-bottom: 40px;
    vertical-align: top;
    font-weight: bold;
}

.contacts__info {
    text-align: left;
    vertical-align: top;
}

.contacts__text {
    margin: 0;
    padding-bottom: 12px;
}