@media screen and (max-width: 1366px) {
    .entertainment {
        height: 500px;
        min-height: 500px;
    }
    h2 {
        font-size: 24px;
    }
    .page-paddings {
        padding-left: 24px;
        padding-right: 24px;
    }
    .main-menu_large .main-menu__list {
        margin-right: -12px;
    }
    .gallery_events {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 300px;
    }
    .gallery_monsters .card__info {
        padding: 16px 20px;
        font-size: 14px;
    }
    .main-menu__item {
        font-size: 18px;
    }
    .table_tickets td {
        height: 60px;
        padding: 8px 12px;
        font-size: 18px;
    }
}

@media screen and (max-width: 1024px) {
    .gallery_monsters {
        grid-template-columns: 1fr;
        grid-auto-rows: 300px;
    }
    .main-menu_large {
        display: none;
    }
    .main-menu_phone {
        display: flex;
    }
}