@media screen and (max-width: 600px) {
    h2 {
        font-size: 24px;
    }
    .page-paddings {
        padding-left: 24px;
        padding-right: 24px;
    }
    .page-menu {
        position: fixed;
        top: 0;
        right: 0;
    }
    .main-menu_large {
        display: none;
    }
    .main-menu_phone {
        display: flex;
        height: 100%;
        min-width: 140px;
    }
    .main-menu__buttons {
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
    }
    .main-menu_phone .main-menu__list {
        flex-direction: column;
        position: absolute;
        bottom: 0;
        transform: translateY(100%);
        border: 1px solid;
        width: 100%;
        height: 92px;
        transition: height .3s ease-out, opacity .2s ease-out;
        overflow: hidden;
        background-color: #f1f1f1;
    }
    .main-menu_phone .main-menu__list_hidden {
        height: 0;
        opacity: 0;
    }
    .section_margin-top {
        margin-top: 40px;
    }
    .gallery {
        grid-template-columns: 1fr;
    }
    .informer {
        flex-direction: column;
    }
    .informer__column {
        width: 100%;
        padding: 12px 0;
        box-sizing: border-box;
    }
    .informer__column_right {
        margin-left: 0;
    }
    .informer__image {
        height: 170px;
        width: 100%;
    }
    .gallery_monsters .gallery-card {
        border-radius: 12px;
    }
    .gallery_monsters .card__info {
        padding: 6px 12px;
    }
    .table_tickets td {
        height: 40px;
        padding: 4px 6px;
        font-size: 14px;
    }
    .button {
        font-size: 18px;
        padding: 12px 24px;
    }
    .page-footer {
        margin-bottom: 0;
    }
    .footer-content {
        flex-direction: column;
    }
    .footer__contacts {
        width: 100%;
    }
}